@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--defaultFont);
  color: #2d3b4a;
}

:root {
  --defaultFont: "Montserrat", sans-serif;
  --titleFont: "Poppins", sans-serif;
  --logoFont: "Roboto", sans-serif;
}

main {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.leftSideBar {
  width: 15%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #cccccc;
}

.logo {
  padding-top: 25px;
  padding-bottom: 40px;
  font-family: var(--logoFont);
  color: #5599f7;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.navigation > a {
  display: block;
  padding-top: 20px;
  font-family: var(--titleFont);
  cursor: pointer;
  color: #2d3b4a;
}

.navigation > a > img {
  height: 15px;
}

.app {
  width: 85%;
  position: absolute;
  top: 0;
  left: 15%;
  display: grid;
  grid-template-rows: 1fr 1fr auto;
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

.search-box {
  background-color: white;
  width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 50px;
  margin-left: 20px;
}

.search-box > i {
  font-size: 20px;
  color: #777;
}

.search-box > input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 50px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

.button {
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-size: 0.9em;
  cursor: pointer;
}

.button > img {
  width: 20px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category {
  margin-left: 20px;
}

.heading > select {
  padding-left: 10px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: #f3f4f6;
}

.todoView {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  height: 60vh;
  margin-left: 20px;
  overflow-y: auto;
  align-items: flex-start;
}

.noteView {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 60vh;
  margin-left: 20px;
  overflow-y: auto;
  background: #f3f1f6;
  padding: 20px;
  gap: 20px;
}

.todo,
.completed
/* .in-progress, */ {
  background: #f3f1f6;
  border-radius: 8px;
}

.status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto;
}

.status-name {
  font-family: var(--titleFont);
  font-weight: bold;
}

.count {
  background: #e1e7e7;
  color: black;
  border-radius: 8px;
  padding: 8px;
}
.todo-item {
  position: relative;
  width: 90%;
  padding: 15px;
  background: white;
  border-radius: 8px;
  margin: 20px auto;
  /* transition: transform 100ms ease; */
}

/* .todo-item:hover {
  transform: scale(1.05);
} */

.todo-item > h5 {
  margin-top: 1em;
  font-weight: normal;
  max-width: 40ch;
}

.todo-item > h4 {
  margin-top: 0.2em;
  max-width: 20ch;
}

.priority {
  position: absolute;
  inset: 1.2em 0.7em 0 auto;
  width: 1em;
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
}

.high {
  border: 3px solid #fe2f6d;
}

.medium {
  border: 3px solid #ffd504;
}

.low {
  border: 3px solid #36a69e;
}

#completed {
  background: #ffffff70;
}

.taskActions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 10px;
  margin-top: 20px;
}

#updateTodo {
  background: #5599f7;
  color: rgb(29, 27, 27);
  padding: 0.1em 0.5em;
  font-size: 0.8em;
  border-radius: 0.5ch;
  cursor: pointer;
  display: none;
}

.far {
  font-size: 0.8em;
  display: block;
  color: #333;
  cursor: pointer;
  transition: scale ease 0.9s;
}

.far:hover {
  transform: scale(1.2);
}

.newTodoForm {
  position: fixed;
  width: max-content;
  height: 60%;
  padding: 20px;
  overflow: hidden;
  border-radius: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #003459;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  /* opacity: 0; */
  transition: opacity ease-in 0.2s;
}

label {
  font-family: var(--defaultFont);
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
}

.noteForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #003459;
  width: max-content;
  padding: 20px;
  height: 340px;
  z-index: 10;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.noteForm > input[type="text"] {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  border: none;
  word-spacing: 5px;
  font-family: var(--defaultFont);
}

textarea {
  border-radius: 4px;
  border: none;
  padding: 10px;
  margin-top: 10px;
  word-spacing: 5px;
  font-family: var(--defaultFont);
  font-size: 0.9em;
}

.submitBtn {
  display: block;
  padding: 10px 20px;
  background: white;
  color: #003459;
  width: 150px;
  text-align: center;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  align-self: center;
}

.submitBtn:hover {
  transform: scale(1.02);
}

.right > .submitBtn {
 background: #f3f1f6;
 color: black;
 margin-top: 10px
}

.noteCard {
  position: relative;
  width: 200px;
  background: white;
  border-radius: 8px;
  padding: 10px;
  /* transition: transform 100ms ease; */
}

.noteCard > h4 {
  margin-bottom: 10px;
}

.noteCard > .far {
  position: absolute;
  inset: auto 0.7em 0.5em auto;
}

.newProjectForm {
  position: fixed;
  width: max-content;
  height: 40%;
  padding: 20px;
  overflow: hidden;
  border-radius: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #003459;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  /* opacity: 0; */
  transition: opacity ease-in 0.2s;
}

.newTodoForm > img,
.newProjectForm > img {
  width: 30px;
  height: auto;
  margin-bottom: 10px;
  cursor: pointer;
}

.newTodoForm > img:hover,
.newProjectForm > img:hover {
  transform: scale(0.9);
}

form {
  width: 500px;
  height: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.newProjectForm > form {
  flex-direction: column;
  width: 200px;
}

.left,
.right {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

form input,
form select {
  display: block;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  height: 30px;
  border: none;
}

.fas {
  font-size: 2em;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
  align-self: center;
}

.fas:hover {
  transform: scale(1.02);
}

form input[type="submit"] {
  color: #003459;
  background-color: white;
  cursor: pointer;
}

form input[type="submit"]:hover {
  transform: scale(1.1);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  color: white;
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  font-size: 0.7em;
}
